@import "../variables/variables.module.scss";


.loginForm {
  position: relative;
  padding: 50px 50px;
  min-width: 400px;
  background: #fff;
  border-radius: 10px;

  h2 {
    display: inline-flex;
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #2fbf1d;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
  }

}

@keyframes textAnimation {
  from {
    color: #121211;
    font-size: 10px;

  }
  to {
    color: #f1eef2;
    font-size: 2rem;
  }
}

.congratsForm {
  position: relative;
  border-radius: 5px;

  &__title {
    padding: 20px;
    height: 100%;

    &__text {
      text-align: center;
      top: 10%;
      animation-name: textAnimation;
      animation-duration: 6s;
      animation-iteration-count: 3;
    }


  }


  h1 {
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
  }
}

.congratsformButton {
  display: flex;
  position: relative;
  left: 25rem;
}

.inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;

  input {
    margin: 10px;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
  }

}
