@import "../variables/variables.module.scss";

.header {
  overflow: hidden;
  background-color: #444444;
  padding: 20px 10px;

  img{
    background-repeat: no-repeat;
    height: 50px;
  }

  a{
    float: left;
    color: #f0e9e9;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
  }
  &__logo{
    font-size: 25px;
    font-weight: bold;

  }

  a:hover{
    background-color: $lightGreen;
    color: $blackColor
  }
  &__active{
    background-color: $dodgerblue;
    color: $whiteColor
  }

  &__right{
    float: right;
  }
}
.carousel{
  height: 620px;
  width: 500px;
  box-shadow: 10px 5px 5px #1bc9b8;
}

.slideInner{
  background-size: contain;
}


.blockModal{
  text-align: center;


  button{
    position: relative;
    margin-top: 100px;
    font-size: 5rem;
    color: white;
  }

  &__modalWindow {
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;

  }
}



